@import url('./animation.css');

html {
  font-family: helvetica;
  font-size: 18px;
}

.admin {
  background-color: black;
  overflow: hidden;
  position: relative;
  max-width: 640px;
  margin: auto;
}

.admin__panel {
  content: '';
  background-color: pink;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
}

.main__section {
  text-align: center;
}

.aside {
  max-width: 240px;
  width: 100%;
}

.cat-list {
  list-style-type: none;
  padding: 0;
}

.cat-list__item {
  height: 60px;
  border: 1px solid lightgray;
  border-top: none;
  box-sizing: border-box;
  padding: 6px;
  transition: all .2s ease;
}

.cat-list__item:hover {
  cursor: pointer;
  background: lightgray;
}

.cat-list__item:first-child {
  border-top: 1px solid lightgray;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.cat-list__item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.cat-list__item--selected {
  background: lightcoral;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #4CAF50;
  margin-top: -9px;
}

.hero-container {
  margin: auto;
  margin-top: 17px;
}

.hero-container:hover {
  cursor: pointer;
}

.hero-image {
  border-radius: 3px;
  max-width: 640px;
  max-height: 359px;
  width: 100%;
  transition: all 0.3s ease;
}

.hero-image:hover {
  opacity: 0.95;
}

.hero-image:active {
  opacity: 1;
}

.buzz-out {
  animation-name: buzz-out;
  animation-duration: 0900ms;
}

.number-of-clicks {
  color: red;
  font-weight: bold;
}
