@import './animation.css'

html {
  font-family: helvetica;
}

.main {
  margin: auto;
  max-width: 960px;
  width: 100%;
}

.hero-title {
  text-align: center;
  color: #4CAF50;
}

.hero-container {
  margin: auto;
  display: table;
}

.hero-container:hover {
  cursor: pointer;
}

.hero-image {
  width: 100%;
  border-radius: 3px;
}

.buzz-out {
  animation-name: hvr-buzz-out;
  animation-duration: 2000ms;
  -webkit-animation-iteration-count: 1;
}

#number-of-clicks {
  color: red;
  font-weight: bold;
}

