@import url('./animation.css');

html {
  font-family: helvetica;
}

.main {
  margin: auto;
  max-width: 960px;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #4CAF50;
}

.container {
  display: flex;
}

.hero-container {
  margin: auto;
  padding: 18px;
}

.hero-container:hover {
  cursor: pointer;
}

.hero-image {
  width: 100%;
  border-radius: 3px;
}

.buzz-out {
  animation-name: buzz-out;
  animation-duration: 0900ms;
}

.number-of-clicks {
  color: red;
  font-weight: bold;
}

