body {
  min-height: 600px;
  display: flex;  
}

#output {
  background: tomato;
  color: white;
  border-radius: 5px;
  line-height: 1.5em; 
  padding: 36px;
  min-height: 72px; 
  max-width: 180px;
  overflow: auto; 
  display: flex; 
  align-self: center;
  margin: auto; 
  font-family: helvetica, sans-serif;
  font-size: 18px; 
}